
<section class="legal-section terms">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <small class="text-uppercase d-block mb-0 mt-5" style="font-weight: 500;">Textos Legales</small><br>
                <h2 id="terms" class="mb-5 mt-0" style="display: inline-block;">
                    <span>Aviso de Privacidad</span>
                </h2>

                <p>
                    1. El precio aquí establecido corresponde a las operaciones de contado en Moneda
                    Nacional de los Estados Unidos
                    Mexicanos, más los impuestos correspondientes. El precio puede cambiar conforme a los
                    gastos notariales. Para conocer
                    los precios de acuerdo con los diferentes tipos de crédito acudir con los promotores
                    autorizados de Grupo GUIAR.
                    2. Las representaciones gráficas aquí establecidas son herramientas de apoyo visual que
                    destacan las características de
                    la vivienda, estas pueden tener variaciones en sus acabados.
                    3. Las representaciones gráficas aquí establecidas son herramientas de apoyo visual
                    únicamente, los colores y los
                    acabados pueden variar. Las viviendas no incluyen accesorios, son sólo decorativos. La
                    casa no se vende amueblada.
                </p>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $(document).ready(function() {
        $('ul.general-nav a').attr('href', 'index.php');
    });
</script>