
<section class="legal-section terms">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <small class="text-uppercase d-block mb-0 mt-5" style="font-weight: 500;">Textos Legales</small><br>
                <h2 id="terms" class="mb-5 mt-0" style="display: inline-block;">
                    <span>Aviso de Privacidad</span>
                </h2>

                <p>
                    1. El precio aquí señalado corresponde a operaciones de contado en Moneda Nacional de los Estados Unidos Mexicanos, más los impuestos que resulten aplicables. Dicho precio podrá modificarse sin previo aviso. Para conocer los precios vigentes conforme a los distintos esquemas de crédito, el interesado deberá acudir con los promotores debidamente autorizados de GRUPO GUIAR
                    2. Las imágenes, planos, renders y demás representaciones gráficas mostradas tienen carácter meramente ilustrativo y constituyen únicamente herramientas de apoyo visual; por lo tanto, los colores, materiales y acabados podrán variar por causas atribuibles al proveedor o fabricante. Las viviendas no incluyen accesorios, y los elementos exhibidos tienen fines exclusivamente decorativos.
                    3. La vivienda no se comercializa ni se entrega amueblada.
                </p>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $(document).ready(function() {
        $('ul.general-nav a').attr('href', 'index.php');
    });
</script>
