<div class="guiar-menu justify-content-md-between justify-content-between">
    <div class="d-flex flex-column justify-content-center align-items-md-center align-items-end w-100">
      <a href="javascript:void(0)" class="close-menu mb-4">
        <i class='bx bx-x bx-lg' style='color:#ffffff'></i>
      </a>

      <a href="https://www.grupoguiar.com.mx/" class="link d-flex align-items-baseline w-100 justify-content-between">
        <div class="d-flex align-items-baseline">
          <p class="mb-0 me-5">1</p>
          <h2 class="mb-0">Grupo <span class="d-none d-md-inline" style="font-style: normal;">Guiar</span>
          </h2>
        </div>
        <i class='bx bx-right-arrow-alt bx-md' style='color:#ffffff; rotate: 320deg;'></i>
      </a>

      <div class="accordion w-100" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button-menu link d-flex align-items-baseline w-100 justify-content-between collapsed"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
              aria-controls="collapseOne">
              <div class="d-flex align-items-baseline">
                <p class="mb-0 me-5">2</p>
                <h2 class="mb-0">Tradicional</h2>
              </div>
              <i class='bx bx-right-arrow-alt bx-md' style='color:#ffffff; rotate: 320deg;'></i>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse mb-4" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="row">
              <div class="col-md-6">
                <div class="guiar-card card-md h-100">

                  <img src="img/guiar/card-prim.jpg" alt="" style="width: 140%;" class="img-bg">
                  <div class="overlay"></div>

                  <div class="card-c text-center d-flex flex-column align-items-center h-100 w-100">

                    <div class="d-flex justify-content-between align-items-center mb-5 w-100">
                      <div class="card-title black" style="width: fit-content;">
                        <small>TRADICIONAL</small>
                      </div>
                      <div class="d-flex align-items-center">
                        <i class='bx bxs-map me-2'></i>
                        <p class="small mb-0">León</p>
                      </div>
                    </div>

                    <img src="img/guiar/primavera.png" alt="" style="width: 300px;" class="mb-3">
                    <h4 style="line-height: 1;" class="mb-5">Departamentos a la <br> altura de tus sueños</h4>

                    <a href="http://parqueprimavera.com.mx/"
                      class="btn btn-dark d-flex align-items-center align-self-end px-4 mb-2">
                      <p class="small mb-0 me-4">Visitar el sitio web</p>
                      <i class='bx bx-link-external'></i>
                    </a>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="guiar-card card-md h-100">
                  <img src="img/guiar/card-ll.jpg" alt="" class="img-bg">
                  <div class="overlay"></div>

                  <div class="card-c d-flex flex-column justify-content-between h-100 ps-4">
                    <div class="d-flex justify-content-between align-items-center ">
                      <div class="card-title black" style="width: fit-content;">
                        <small>TRADICIONAL</small>
                      </div>
                      <div class="d-flex align-items-center">
                        <i class='bx bxs-map me-2'></i>
                        <p class="small mb-0">Salamanca</p>
                      </div>
                    </div>

                    <div class="d-flex justify-content-center">
                      <img src="img/guiar/arboledas-2.png" alt="" style="width: 200px;">
                    </div>

                    <div class="d-flex justify-content-end align-items-center">
                      <a href="http://arboledas2.com/" class="btn btn-dark d-flex align-items-center px-4">
                        <p class="small mb-0 me-4">Visitar el sitio web</p>
                        <i class='bx bx-link-external'></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button-menu link d-flex align-items-baseline w-100 justify-content-between collapsed"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
              aria-controls="collapseTwo">
              <div class="d-flex align-items-baseline">
                <p class="mb-0 me-5">2</p>
                <h2 class="mb-0">Residencial</h2>
              </div>
              <i class='bx bx-right-arrow-alt bx-md' style='color:#ffffff; rotate: 320deg;'></i>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row">
                <div class="col-md-6">

                  <div class="guiar-card card-md">

                    <img src="img/guiar/card-allende.jpg" alt="" class="img-bg">
                    <div class="overlay"></div>

                    <div class="card-c  d-flex flex-column h-100 w-100">

                      <div class="d-flex justify-content-between align-items-start mb-4 w-100">
                        <div>
                          <div class="card-title yellow" style="width: fit-content;">
                            <small>RESIDENCIAL</small>
                          </div>
                        </div>
                        <div class="d-flex align-items-center">
                          <i class='bx bxs-map me-2'></i>
                          <p class="small mb-0">San Miguel de Allende</p>
                        </div>
                      </div>

                      <img src="img/guiar/allende.png" alt="" style="width: 120px;" class="mb-3">

                      <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                        <h4 class="" style="line-height: 1;">Porque todos queremos un <br> pedacito de San Miguel de
                          <br> Allende
                        </h4>
                        <a href="http://jardinesdeallende.com"
                          class="btn btn-dark d-flex align-items-center px-4 mb-2 align-self-end">
                          <p class="small mb-0 me-4">Visitar el sitio web</p>
                          <i class='bx bx-link-external'></i>
                        </a>
                      </div>

                    </div>

                  </div>

                </div>
                <div class="col-md-6">

                  <div class="guiar-card card-md h-100">

                    <img src="img/guiar/card-arbo.jpg" alt="" style="width: 200%;" class="img-bg">
                    <div class="overlay"></div>

                    <div class="card-c d-flex flex-column ps-4 justify-content-between h-100">
                      <div class="d-flex justify-content-between align-items-center mb-2">

                        <div class="card-title yellow" style="width: fit-content;">
                          <small>RESIDENCIAL</small>
                        </div>
                        <div class="d-flex align-items-center">
                          <i class='bx bxs-map me-2'></i>
                          <p class="small mb-0">Salamanca</p>
                        </div>
                      </div>

                      <img src="img/guiar/arboledas-l.png" alt="" style="width: 170px;">

                      <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                        <h4 style="line-height: 1;">Vivir en armonía <br> personal, familiar y <br>
                          social.
                        </h4>
                        <a href="http://residencialarb.com/" class="btn btn-dark d-flex align-items-center px-4">
                          <p class="small mb-0 me-4">Visitar el sitio web</p>
                          <i class='bx bx-link-external'></i>
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>